In [1126]:
from IPython.display import display, Markdown, display_html
import pandas as pd
import sys

module_path = os.path.abspath(os.path.join('../src'))
if module_path not in sys.path:
    sys.path.append(module_path)
import settings
import utils

In [1063]:
def display_results_summary():
    topics = utils.get_topics()
    for topic in topics:
        display(Markdown("# {} ".format(utils.get_readable_topic(topic))))
        phase1, phase2 = utils.get_all_stats(topic, stat_methods)
        display(Markdown("## Phase 1 "))
        display(phase1)
        utils.plot_phase1_stats(topic)
        display(Markdown("## Phase 2 "))
        display(phase2)
        display(Markdown('---'))        

def display_features():
    topics = utils.get_topics()
    for topic in topics:
        display(Markdown("# {} ".format(utils.get_readable_topic(topic))))
        topic_feats = []
        for method in feat_methods:
            display(Markdown("### {}".format(method)))
            display(utils.summarise_feats(topic, method))
        display(Markdown('---'))    
        
def phase1_to_latex():
    topics = utils.get_topics()
    for topic in topics:
        display(Markdown("# {} ".format(utils.get_readable_topic(topic))))
        phase1, phase2 = utils.get_all_stats(topic, settings.STAT_METHODS)
        display(Markdown("## Phase 1 "))
        display(phase1)
        utils.plot_phase1_stats(topic)
        display(Markdown("## Phase 2 "))
        display(phase2)
        display(Markdown('---'))

In [1163]:
stat_summary_pd = pd.DataFrame()
for method in settings.STAT_METHODS:
    method_stats_pd = pd.DataFrame()
    for topic in settings.TOPICS:
        method_stats = utils.load_results_stats(topic, method)[0].iloc[:, -3:]
        method_stats_pd = method_stats_pd.append(method_stats)
    method_results_summary = method_stats_pd.apply(utils.get_confidence_interval, axis=0).rename(method)
    stat_summary_pd = stat_summary_pd.append(method_results_summary)

In [1167]:
stat_summary_pd.iloc[[0, 1, 2, 4, 6], [2, 1, 0]].to_latex()

u'\\begin{tabular}{llll}\n\\toprule\n{} &           Recall &        Precision &         F1 Score \\\\\n\\midrule\nfirehose     &            1.000 &  0.004 +\\textbackslash- 0.001 &  0.007 +\\textbackslash- 0.002 \\\\\ntopk         &  0.272 +\\textbackslash- 0.023 &  0.084 +\\textbackslash- 0.011 &  0.122 +\\textbackslash- 0.014 \\\\\ngurobi\\_cilp  &  0.865 +\\textbackslash- 0.021 &  0.036 +\\textbackslash- 0.009 &  0.068 +\\textbackslash- 0.016 \\\\\ngurobi\\_wilp  &  0.739 +\\textbackslash- 0.028 &  0.048 +\\textbackslash- 0.010 &  0.088 +\\textbackslash- 0.018 \\\\\ngurobi\\_cailp &  0.642 +\\textbackslash- 0.038 &  0.480 +\\textbackslash- 0.061 &  0.524 +\\textbackslash- 0.047 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [1186]:
print(stat_summary_pd.iloc[[6], [2, 1, 0]].to_latex(header=False, index=False).replace('+\\textbackslash-', '$\pm$'))

\begin{tabular}{lll}
\toprule
 0.642 $\pm$ 0.038 &  0.480 $\pm$ 0.061 &  0.524 $\pm$ 0.047 \\
\bottomrule
\end{tabular}

In [1185]:
stat_summary_pd.iloc[[6], [2, 1, 0]]

                       Recall        Precision         F1 Score
gurobi_cailp  0.642 +\- 0.038  0.480 +\- 0.061  0.524 +\- 0.047

# Selected Features

Display commong features selected across the k folds:

In [1205]:
display_features()

# Natural Disaster

### topk

          Feature     Type
0           storm     term
1       hurricane     term
2      earthquake     term
3     philippines     term
4       magnitude     term
5         typhoon     term
6          relief     term
7       yolandaph  hashtag
8     philippines  hashtag
9      california     term
10        victims     term
11           rain  hashtag
12           safe     term
13       affected     term
14         damage     term
15      lightning  hashtag
16  baesystemsair  mention
17          flood     term
18           pray     term
19          quake     term

### gurobi_cilp

        Feature  Type
0           and  term
1            at  term
2    california  term
3   empty_tweet  term
4           for  term
5          from  term
6            in  term
7            is  term
8            my  term
9            of  term
10           on  term
11           rt  term
12         that  term
13          the  term
14         this  term
15           to  term
16          you  term

### greedy_cilp

        Feature  Type
0            rt  term
1           the  term
2            of  term
3            to  term
4            in  term
5   empty_tweet  term
6           for  term
7            is  term
8           and  term
9          from  term
10   california  term
11           on  term
12          you  term
13           at  term
14           my  term
15         this  term

### gurobi_wilp

  Feature  Type
0      rt  term

### greedy_wilp

  Feature  Type
0      rt  term

### gurobi_cailp

       Feature  Type
0   earthquake  term
1    magnitude  term
2  philippines  term
3        storm  term
4      typhoon  term

### greedy_cailp

           Feature     Type
0      philippines     term
1            storm     term
2          typhoon     term
3       california     term
4        magnitude     term
5           relief     term
6       earthquake     term
7        hurricane     term
8      philippines  hashtag
9   gabriele_corno  mention
10            safe     term
11            help     term
12          alaska     term
13         warning     term
14            near     term
15          damage     term

---

# Social Issues

### topk

          Feature     Type
0          police     term
1           deray  mention
2      protesters     term
3        natedrug  mention
4            cops     term
5         protest     term
6   antoniofrench  mention
7         prolife  hashtag
8            debt     term
9         justice     term
10       protests     term
11   darrenwilson  hashtag
12       ferguson     term
13     protestors     term
14            cop     term
15         racism     term
16             pd     term
17    ryanjreilly  mention
18         racist     term

### gurobi_cilp

   Feature  Type
0      amp  term
1      and  term
2       at  term
3      for  term
4       in  term
5       is  term
6       it  term
7      not  term
8       of  term
9       on  term
10  police  term
11      rt  term
12     the  term
13    this  term
14      to  term
15    with  term
16     you  term

### greedy_cilp

   Feature  Type
0       rt  term
1      the  term
2       to  term
3       in  term
4       is  term
5       of  term
6      for  term
7      and  term
8       on  term
9      you  term
10    this  term
11     amp  term
12      at  term
13  police  term
14    with  term
15      it  term
16      by  term

### gurobi_wilp

  Feature     Type
0  police     term
1      rt     term
2   deray  mention

### greedy_wilp

  Feature     Type
0      rt     term
1  police     term
2   deray  mention

### gurobi_cailp

      Feature     Type
0       black     term
1         cop     term
2        cops     term
3     justice     term
4      police     term
5     protest     term
6  protesters     term
7       deray  mention

### greedy_cailp

          Feature     Type
0          police     term
1           black     term
2      protesters     term
3            cops     term
4         protest     term
5         justice     term
6           deray  mention
7             cop     term
8        natedrug  mention
9           brown     term
10       protests     term
11        officer     term
12       decision     term
13  antoniofrench  mention
14         rights     term
15          media     term
16     protestors     term

---

# Space

### topk

              Feature      Type
0                nasa   mention
1          tokiohotel   mention
2                moon      term
3             science      term
4      loc_houston_tx  location
5     30secondstomars   mention
6         loc_houston  location
7               solar      term
8               space      term
9          philae2014   mention
10          neiltyson   mention
11              texas   hashtag
12  loc_houston_texas  location
13        mtvteenwolf   mention
14              beach   hashtag
15             summer   hashtag
16          jaredleto   mention
17           ladygaga   mention
18            houston      term

### gurobi_cilp

        Feature     Type
0           and     term
1            at     term
2            by     term
3   empty_tweet     term
4           for     term
5            in     term
6            is     term
7            of     term
8            on     term
9            rt     term
10          the     term
11         this     term
12           to     term
13         with     term
14          you     term
15          job  hashtag
16       summer  hashtag
17        texas  hashtag

### greedy_cilp

        Feature     Type
0            rt     term
1           the     term
2            to     term
3            in     term
4           for     term
5            of     term
6           and     term
7   empty_tweet     term
8            on     term
9            is     term
10           at     term
11         with     term
12          job  hashtag
13         this     term
14       summer  hashtag
15          you     term
16           by     term
17        texas  hashtag

### gurobi_wilp

  Feature     Type
0      rt     term
1     the     term
2    nasa  mention

### greedy_wilp

  Feature     Type
0      rt     term
1     the     term
2    nasa  mention

### gurobi_cailp

          Feature      Type
0            moon      term
1           solar      term
2           space      term
3           texas   hashtag
4  loc_houston_tx  location
5            nasa   mention

### greedy_cailp

           Feature      Type
0             nasa   mention
1            space      term
2             star      term
3             moon      term
4   loc_houston_tx  location
5           summer   hashtag
6          science      term
7            solar      term
8            earth      term
9            beach   hashtag
10              ut      term
11           texas   hashtag
12         houston      term
13      philae2014   mention
14         fantasy   hashtag
15      goharshahi   hashtag
16     loc_houston  location
17  gabriele_corno   mention

---

# Soccer

### topk

             Feature      Type
0                lfc   mention
1               ynwa   hashtag
2             brazil   hashtag
3             soccer      term
4               mcfc   mention
5          liverpool      term
6           ussoccer   mention
7         supporting      term
8             brazil      term
9       easportsfifa   mention
10      realmadriden   mention
11      fifaworldcup   mention
12       foxtramedia   mention
13     mesutozil1088   mention
14              fifa      term
15            suarez      term
16               cup      term
17           germany      term
18            madrid      term
19  loc_nashville_tn  location

### gurobi_cilp

        Feature  Type
0           and  term
1            at  term
2            by  term
3   empty_tweet  term
4           for  term
5          from  term
6            in  term
7            is  term
8            it  term
9           new  term
10           of  term
11           on  term
12           rt  term
13         that  term
14          the  term
15         this  term
16           to  term
17           vs  term
18         with  term
19          you  term

### greedy_cilp

        Feature  Type
0            rt  term
1           the  term
2            to  term
3           for  term
4            in  term
5           and  term
6            on  term
7           you  term
8            is  term
9            of  term
10         with  term
11           at  term
12  empty_tweet  term
13           vs  term
14         this  term
15           by  term
16         that  term
17          new  term
18           it  term
19         from  term

### gurobi_wilp

        Feature     Type
0            rt     term
1           the     term
2            to     term
3  fifaworldcup  mention
4           lfc  mention

### greedy_wilp

        Feature     Type
0            rt     term
1           the     term
2           lfc  mention
3  fifaworldcup  mention
4            to     term

### gurobi_cailp

     Feature     Type
0        cup     term
1  liverpool     term
2       team     term
3        lfc  mention

### greedy_cailp

         Feature     Type
0            cup     term
1            lfc  mention
2      liverpool     term
3           goal     term
4          match     term
5       football     term
6           team     term
7         league     term
8             vs     term
9            afc  hashtag
10          mufc  hashtag
11        player     term
12    supporting     term
13  fifaworldcup  mention
14        madrid     term
15        brazil     term
16          ynwa  hashtag

---

# Human Disasters

### topk

            Feature     Type
0               iss  hashtag
1   camilacabello97  mention
2            israel     term
3              gaza     term
4       underattack     term
5           israeli     term
6              iraq  hashtag
7         palestine     term
8       palestinian     term
9               war     term
10       goharshahi  hashtag
11            syria     term
12     palestinians     term
13            allah     term
14            assad  hashtag
15      farah_gazan  mention
16   free_media_hub  mention
17           flight     term

### gurobi_cilp

        Feature     Type
0           amp     term
1           and     term
2            by     term
3   empty_tweet     term
4           for     term
5          from     term
6            in     term
7            is     term
8           not     term
9           now     term
10           of     term
11           on     term
12           rt     term
13          the     term
14         this     term
15           to     term
16          via     term
17         with     term
18          you     term
19         news  hashtag

### greedy_cilp

        Feature     Type
0            rt     term
1           the     term
2            in     term
3            to     term
4            of     term
5           for     term
6            on     term
7            is     term
8   empty_tweet     term
9           and     term
10         from     term
11         with     term
12           by     term
13          you     term
14         news  hashtag
15          via     term
16          now     term
17          amp     term
18         this     term

### gurobi_wilp

   Feature     Type
0     gaza     term
1       in     term
2   israel     term
3  israeli     term
4       rt     term
5     iraq  hashtag
6      iss  hashtag

### greedy_wilp

   Feature     Type
0       rt     term
1       in     term
2     iraq  hashtag
3      iss  hashtag
4     gaza     term
5   israel     term
6  israeli     term

### gurobi_cailp

    Feature     Type
0   against     term
1  children     term
2      gaza     term
3    israel     term
4   israeli     term
5    killed     term
6      iraq  hashtag
7       iss  hashtag

### greedy_cailp

        Feature     Type
0        israel     term
1       israeli     term
2          iraq  hashtag
3          gaza     term
4      children     term
5        killed     term
6           iss  hashtag
7           war     term
8        flight     term
9       against     term
10  underattack     term
11         iran  hashtag
12         army     term
13        syria     term
14  palestinian     term
15        plane     term
16    palestine     term
17       syrian     term
18        allah     term

---

# Tennis

### topk

           Feature     Type
0           tennis     term
1        wimbledon  mention
2           murray     term
3           usopen  mention
4           murray  hashtag
5        wimbledon     term
6         djokovic     term
7       djokernole  mention
8            nadal     term
9      andy_murray  mention
10  serenawilliams  mention
11          serena     term
12         federer     term
13            rafa     term
14         federer  hashtag
15    rogerfederer  mention
16      andymurray  hashtag
17            andy     term
18             atp  hashtag
19           match     term

### gurobi_cilp

   Feature  Type
0      and  term
1       at  term
2      for  term
3       go  term
4       in  term
5       is  term
6       it  term
7   murray  term
8       of  term
9       on  term
10      rt  term
11  tennis  term
12     the  term
13    this  term
14      to  term
15    what  term
16     you  term

### greedy_cilp

   Feature  Type
0       rt  term
1      the  term
2       to  term
3       is  term
4   tennis  term
5       on  term
6       in  term
7      for  term
8      and  term
9   murray  term
10      of  term
11      at  term
12    this  term
13     you  term
14    what  term
15      it  term
16      go  term

### gurobi_wilp

     Feature     Type
0    federer     term
1         rt     term
2     tennis     term
3  wimbledon  mention

### greedy_wilp

     Feature     Type
0         rt     term
1    federer     term
2  wimbledon  mention
3     tennis     term

### gurobi_cailp

     Feature     Type
0   djokovic     term
1      final     term
2      match     term
3     murray     term
4     serena     term
5     tennis     term
6     murray  hashtag
7     usopen  mention
8  wimbledon  mention

### greedy_cailp

        Feature     Type
0        tennis     term
1        murray     term
2     wimbledon  mention
3         final     term
4         match     term
5        usopen  mention
6           set     term
7         nadal     term
8      djokovic     term
9           atp  hashtag
10    wimbledon     term
11      federer     term
12  andy_murray  mention
13       serena     term
14       murray  hashtag
15          wta  mention
16         rafa     term

---

# Health

### topk

           Feature     Type
0          fitness  hashtag
1      foxtramedia  mention
2          libcrib  hashtag
3               p2  hashtag
4         wellness  hashtag
5            ebola     term
6         stoprush  hashtag
7       tntweeters  hashtag
8          anxiety  hashtag
9            virus     term
10          health     term
11        outbreak     term
12        chanyeol     term
13       nutrition  hashtag
14      weightloss  hashtag
15  changedecopine     user
16            tcot  hashtag
17      healthcare     term
18         medical  hashtag

### gurobi_cilp

    Feature      Type
0       amp      term
1       and      term
2        at      term
3        by      term
4       for      term
5      from      term
6        in      term
7        is      term
8        of      term
9        on      term
10       rt      term
11      the      term
12       to      term
13     with      term
14      you      term
15  fitness   hashtag
16      job   hashtag
17     news   hashtag
18  loc_usa  location

### greedy_cilp

    Feature      Type
0        rt      term
1       the      term
2        to      term
3        in      term
4       for      term
5        of      term
6       and      term
7       job   hashtag
8        on      term
9      with      term
10       is      term
11  fitness   hashtag
12      you      term
13       at      term
14      amp      term
15     news   hashtag
16     from      term
17  loc_usa  location
18       by      term

### gurobi_wilp

   Feature     Type
0       rt     term
1      the     term
2  fitness  hashtag
3  libcrib  hashtag
4       p2  hashtag

### greedy_wilp

   Feature     Type
0       rt     term
1       p2  hashtag
2  fitness  hashtag
3      the     term
4  libcrib  hashtag

### gurobi_cailp

       Feature     Type
0       health     term
1      fitness  hashtag
2      libcrib  hashtag
3           p2  hashtag
4         tcot  hashtag
5  foxtramedia  mention

### greedy_cailp

        Feature     Type
0       fitness  hashtag
1        health     term
2            p2  hashtag
3          tcot  hashtag
4         ebola     term
5          news  hashtag
6      wellness  hashtag
7   foxtramedia  mention
8    tntweeters  hashtag
9       libcrib  hashtag
10   weightloss  hashtag
11        virus     term
12     outbreak     term
13     medicine     term
14      anxiety  hashtag
15      patient     term

---

# LGBT

### topk

            Feature     Type
0              tlot  hashtag
1               gop  hashtag
2           libcrib  hashtag
3            lnyhbt  hashtag
4             obama     term
5          jjauthor  mention
6              lgbt  hashtag
7         obamacare  hashtag
8   rednationrising  hashtag
9               nra  hashtag
10              gay  hashtag
11        obamacare     term
12  conservative_vw  mention
13         benghazi  hashtag
14         limbaugh     term
15           obamas     term
16            nj2as  hashtag
17            obama  hashtag
18              gop     term
19       tntweeters  hashtag

### gurobi_cilp

        Feature     Type
0           amp     term
1           and     term
2            at     term
3            by     term
4   empty_tweet     term
5           for     term
6            in     term
7            is     term
8            of     term
9            on     term
10           rt     term
11          the     term
12           to     term
13          via     term
14         with     term
15          you     term
16         tlot  hashtag

### greedy_cilp

        Feature     Type
0            rt     term
1           the     term
2            to     term
3            in     term
4           for     term
5            of     term
6            on     term
7            is     term
8           and     term
9          tlot  hashtag
10          via     term
11          you     term
12          amp     term
13         with     term
14           at     term
15  empty_tweet     term
16           by     term

### gurobi_wilp

           Feature     Type
0            obama     term
1               rt     term
2              the     term
3           lnyhbt  hashtag
4            nj2as  hashtag
5  rednationrising  hashtag
6             tlot  hashtag

### greedy_wilp

           Feature     Type
0               rt     term
1             tlot  hashtag
2            nj2as  hashtag
3            obama     term
4              the     term
5           lnyhbt  hashtag
6  rednationrising  hashtag

### gurobi_cailp

           Feature     Type
0              gop     term
1            obama     term
2              gop  hashtag
3            nj2as  hashtag
4        obamacare  hashtag
5  rednationrising  hashtag
6             tlot  hashtag
7         jjauthor  mention

### greedy_cailp

            Feature     Type
0             obama     term
1              tlot  hashtag
2             nj2as  hashtag
3               gop  hashtag
4         obamacare  hashtag
5               nra  hashtag
6            lnyhbt  hashtag
7        tntweeters  hashtag
8          jjauthor  mention
9           libcrib  hashtag
10            obama  hashtag
11              gop     term
12         showcase     term
13  rednationrising  hashtag
14        obamacare     term
15          america     term
16         benghazi  hashtag
17           obamas     term
18              gun     term

---

# Latex

In [1206]:
_, phase2 = utils.get_all_stats('Social_issue', settings.STAT_METHODS)
ph_to_lat = phase2.iloc[[0, 1, 3, 5, 7],:]
ph_to_lat.index = ['Firehose', 'TopK', 'Greedy CILP','Greedy WILP', 'Greedy CAILP']
print(ph_to_lat.to_latex(header=False, index=True).replace('+\\textbackslash-', '$\pm$'))

\begin{tabular}{lll}
\toprule
Firehose     &  0.678 $\pm$ 0.003 &  0.730 $\pm$ 0.035 \\
TopK         &  0.574 $\pm$ 0.005 &  0.741 $\pm$ 0.029 \\
Greedy CILP  &  0.684 $\pm$ 0.003 &  0.733 $\pm$ 0.035 \\
Greedy WILP  &  1.386 $\pm$ 0.004 &  0.523 $\pm$ 0.018 \\
Greedy CAILP &  0.624 $\pm$ 0.005 &  0.714 $\pm$ 0.026 \\
\bottomrule
\end{tabular}

In [1201]:
settings.TOPICS

['Natr_Disaster',
 'Social_issue',
 'Space',
 'Soccer',
 'Human_Disaster',
 'Tennis',
 'Health',
 'LGBT']

In [1116]:
ph_to_lat

                    Test AveP            P@100
Firehose      0.647 +\- 0.002  0.592 +\- 0.010
TopK          0.504 +\- 0.010  0.630 +\- 0.065
Greedy CILP   0.651 +\- 0.002  0.594 +\- 0.011
Greedy WILP   0.654 +\- 0.001  0.596 +\- 0.007
Greedy CAILP  0.544 +\- 0.015  0.592 +\- 0.027

In [1207]:
feats = utils.load_results_features('Social_issue', 'greedy_wilp')
df = pd.DataFrame()
for feat in feats:
    df = df.append(feat)

In [1208]:
df.Feature.value_counts()

police                  6
deray                   5
rt                      5
natedrug                3
protesters              3
cops                    3
wilson                  3
nypd                    2
racial                  2
protestors              2
darren                  2
gas                     2
murdered                2
peaceful                2
jury                    2
looting                 2
the                     2
stl                     2
protesting              2
protest                 2
officials               1
democracy               1
loc_san_francisco_ca    1
square                  1
riots                   1
civil                   1
ignorance               1
handsupunited_          1
march                   1
blacks                  1
                       ..
bipartisanism           1
keegannyc               1
antoniofrench           1
mike                    1
emergency               1
browns                  1
looters                 1
missouri                1
violence                1
govjaynixon             1
governor                1
arrested                1
shaunking               1
tear                    1
ccot                    1
cop                     1
criminals               1
jon                     1
officer                 1
ferguson                1
dontshoot               1
burn                    1
officers                1
autopsy                 1
riot                    1
bassem_masri            1
murder                  1
youranonnews            1
prosecutor              1
feed                    1
Name: Feature, dtype: int64

In [1204]:
df

            Feature     Type
0                rt     term
1                in     term
2              iraq  hashtag
3          children     term
4               iss  hashtag
5              gaza     term
6            israel     term
7             assad  hashtag
8          chemical     term
9             obama  hashtag
10           regime     term
11      palestinian     term
12           rebels     term
13     palestinians     term
14              abu     term
15          helping     term
16            crash     term
17          israeli     term
18              the     term
19           flight     term
0                rt     term
1            israel     term
2              iraq  hashtag
3           israeli     term
4              gaza     term
5       underattack     term
6                in     term
7             assad     term
8       palestinian     term
9          airlines     term
..              ...      ...
10           russia  hashtag
11              the     term
12           bombed     term
13  drbasselabuward  mention
14         children     term
15            assad     term
16           syrian     term
17           regime     term
18              war     term
19            mh370     term
0                rt     term
1              iraq  hashtag
2                in     term
3              gaza     term
4           israeli     term
5         palestine     term
6          evidence     term
7               iss  hashtag
8            israel     term
9          families     term
10      underattack     term
11              afp  hashtag
12               un  mention
13       occupation     term
14  idfspokesperson  mention
15          weapons     term
16              the     term
17           crimes     term
18              cnn  hashtag
19           rebels     term

[100 rows x 2 columns]